.button {
  position: relative;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: var(--btn);
  color: var(--text-white);
  min-width: 200px;
  font-weight: bold;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background-color: #00000027;
  transition: all 0.5s ease;
  border-radius: 50px;
}

.button:hover {
  background-color: var(--btn-bg);
  color: var(--text);
}

.button:hover::after {
  width: 100%;
}

/* Disabled state */
.disabled {
  background-color: #e0e0e0;
  border-color: #b0b0b0;
  cursor: not-allowed;
  opacity: 0.6;
}

.disabled::after {
  background-color: #b0b0b0;
}

.button:focus {
  outline: none;
  border: none;
}

/* Active state */
.button:active {
  transform: scale(0.98);
}
