/* .container {
  background-image: url(/bg_3.jpg), linear-gradient(to bottom, #353535, #ffffff);
  background-blend-mode: multiply, overlay;
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
  opacity: 0.6;
  display: flex;
  gap: 100px;
} */
.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding-inline-start: 2rem;
  /* padding-block: 10rem; */
  opacity: 1;
  text-transform: capitalize;
  font-size: 1.3rem;
  color: var(--text);
}

.imgContainer {
  /* flex: 1; */
  position: relative;
}

@media (max-width: 768px) {
  .container {
    background-image: none;
    height: unset;
  }
  .buttons {
    flex-direction: column;
  }
  .textContainer {
    padding-inline-start: unset;
    padding-block: unset;
  }
  .title {
    font-size: 64px;
  }
}
